<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>College Profile Builder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>840CA3261B4B13B8003BF97E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840CA33A1B4B13B8003BF97E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840CA3451B4B13B9003BF97E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
